.create-form {
  padding: 0;
  margin-top: 90px;
  display: grid;
  width: 100%;
  height: auto;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
textarea {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 48px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

textarea {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-name {
  width: 100%;
  padding: 0;
  font-size: 48px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.input-price {
  padding-left: 10px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-image-link {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.submit-button {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
}

@media (max-width: 500px) {
  .create-form {
    padding-top: 190px;
  }

  input,
  textarea {
    font-size: 28px;
  }
}
